NEXT_PUBLIC_API_URL=https://naptech-1.onrender.com/v1
NEXT_PUBLIC_WEB_APP_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3001
NEXT_PUBLIC_CAREGIVER_APP_URL=http://localhost:3002

# Production (Vercel):
# NEXT_PUBLIC_WEB_APP_URL=https://www.naptechealthcareservices.co.uk
# NEXT_PUBLIC_ADMIN_APP_URL=https://admin.naptechealthcareservices.co.uk
# NEXT_PUBLIC_CAREGIVER_APP_URL=https://caregiver.naptechealthcareservices.co.uk
